<form method="POST">
    <label style="margin-top:0;">
        <h1>Register</h1>
    </label>
    <% if(errors) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Errors!</strong> <%= errors %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <label>
        <p class="label-txt">ENTER YOUR NAME</p>
        <input type="text" class="input" name="name" required>
        <div class="line-box">
        <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">ENTER YOUR EMAIL</p>
        <input type="email" class="input" name="email" required>
        <div class="line-box">
        <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">ENTER YOUR PASSWORD</p>
        <input type="password" class="input" name="password" required>
        <div class="line-box">
        <div class="line"></div>
        </div>
    </label>
    <button type="submit" >Register</button>

    <label style="margin: 2px; bottom: 0;">
        <span> <small>Already have an account?  <a href="/">click here</a></small> </span>
    </label>
</form>