
<form method="POST">
    <% if(msg!==undefined) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Registration Success!</strong> Hello! <%= msg %>, Enjoy!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <label style="margin-top:0;">
        <h1>Select your language</h1>
    </label>
    <label>
        <select multiple class="input border" name="LanguangesId[]" >
            <% langs.forEach(leng => { %>
                <option value="<%= leng.id %>"> <%= leng.name %> </option>
            <% }) %>
        </select>
        <div class="line"></div>
        </div>
    </label>
    <button type="submit">next</button>
</form>