<footer class="footer ">
        <div class="container text-center">
            <span class="text-muted">site design  © 2019 Chat-bot Inc; user contributions licensed under cc by-santuy 1.0 with attribution required.</span>
        </div>
</footer>